<div class="col-xs-12 center-block">
  <div class="mainDash col-xs-9">
    <div class="row">
      <div class="col-xs-4"><a href="#/introduce-yourself/introduction-1/slide/1"><img src="/images/introduceYourselfMission.png" alt=""></a></div>
      <div class="col-xs-4"><img src="/images/talkAboutPeopleMission.png" alt=""></div>
      <div class="col-xs-4"><img src="/images/holdAConvoMission.png" alt=""></div>
    </div>
    <div class="row">
      <div class="col-xs-4"><img src="/images/howYoureDoingMission.png" alt=""></div>
      <div class="col-xs-4"><img src="/images/goShoppingMission.png" alt=""></div>
      <div class="col-xs-4"><img src="/images/aboutLanguagesMission.png" alt=""></div>
    </div>
    <div class="row">
      <div class="col-xs-4"><img src="/images/goOutWithFriendsMission.png" alt=""></div>
      <div class="col-xs-4"><img src="/images/dineRestaurantMission.png" alt=""></div>
      <div class="col-xs-4"><img src="/images/emergenciesMission.png" alt=""></div>
    </div>
  </div>
  <div class="col-xs-1">
    <img src="/images/progress-panel.png" alt="">
  </div>
</div>
