<div class="col-xs-10 center-block">
  <div class="panel panel-default">
    <div class="panel-body">
      <progress-bar slide-number="slideNum" slide-max="lessonLength"></progress-bar>
      <comprehension-assessment ng-show="currentSlide.compT" data="slideObj"></comprehension-assessment>
      <convo-assessment ng-show="currentSlide.convoT" data="slideObj"></convo-assessment>
      <production-assessment ng-show="currentSlide.prodT" data="slideObj"></production-assessment>
      <pattern-assessment ng-show="currentSlide.pattT" data="slideObj"></pattern-assessment>
      <image-page ng-show="currentSlide.imgT" data="slideObj"></image-page>
      <static-page ng-show="currentSlide.statT" data="slideObj"></static-page>
      <teaching-page ng-show="currentSlide.teachT" data="slideObj"></teaching-page>
      <unique-page ng-show="currentSlide.uniqueT" data="slideObj"></unique-page>
    </div>
    <div class="panel-footer">
      <navigation-buttons next-slide="nextSlide()" prev-slide="prevSlide()" submit-button="slideObj.submitButton" grade="slideObj.gradeFunc()"></navigation-buttons>
    </div>
  </div>
</div>

<bootstrap-modal audio-play="slideObj.audioPlay(file)" audio-file="slideObj.audioFile" body="slideObj.modalBody" title="slideObj.modalTitle"></bootstrap-modal>
