<div class="col-xs-10 center-block">
  <div class="panel panel-default">
    <div class="panel-body">
      <progress-bar></progress-bar>
      <comprehension-assessment></comprehension-assessment>
      <convo-assessment></convo-assessment>
      <production-assessment></production-assessment>
      <image-page></image-page>
      <static-page></static-page>
      <teaching-page></teaching-page>
    </div>
    <div class="panel-footer">
      <navigation-buttons></navigation-buttons>
    </div>
  </div>
</div>
