<div class="col-xs-10 center-block">
  <div class="panel panel-default">
    <div class="panel-body lesson-panelbody">
      <progress-bar slide-max="20" slide-number="slideNum"></progress-bar>
      <div class="row no-gutters">
        <div class="mascot lessonView col-xs-5">
          <div class="text-right">
            <img src="assets/images/mascotBigSmile.png">
            <img alt="" class="quoteLine-auto quoteLine invisible" src="assets/images/speechLine.png">
          </div>
        </div>
        <div class="infoArea lessonView col-xs-7">
          <div class="text-center">
            <div class="section1-auto section1 invisible">
              <p>Now let's talk about your job.</p>
            </div>
            <div class="section2-auto section2 invisible">
              <p>Which is your position?</p>
              <ul class="jobs col-xs-6">
                <li class="btn btn-info round" ng-click="accountant()">accountant</li>
                <li class="btn btn-info round" ng-click="consultant()">consultant</li>
                <li class="btn btn-info round" ng-click="engineer()">engineer</li>
              </ul>
              <ul class="jobs col-xs-6">
                <li class="btn btn-info round" ng-click="analyst()">analyst</li>
                <li class="btn btn-info round" ng-click="designer()">designer</li>
                <li class="btn btn-info round" ng-click="manager()">manager</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <navigation-buttons next-slide="nextSlide()" prev-slide="prevSlide()" submit-button="false"></navigation-buttons>
    </div>
  </div>
</div>
