<div class="row no-gutters">
  <div class="mascot lessonView col-xs-5">
    <div class="text-right">
      <img id="mascot" src="/images/mascotChallenge2.png">
      <img class="quoteLine invisible" src="/images/speechLine.png" alt="">
    </div>
  </div>
  <div class="infoArea lessonView col-xs-7">
    <div class="text-center">
      <div class="section1 invisible">
        <p class="prodText">How do you say: <br> "{{phrase}}" in Danish?</p>
      </div>
      <div class="response-answer hidden">
        {{responseText}}
      </div>
      <div class="section2 inputSection invisible">
        <form ng-submit="grade();">
          <img id="speechToggle" ng-click="toggleSpeechInput()" class="pull-left recordButton" src="/images/recordButton.png" alt="">
          <input id="speechInput" class="prodResponse" type="text" ng-model="toGrade" placeholder="Type or say your answer">
        </form>
      </div>
    </div>
  </div>
</div>
