<div class="row no-gutters">
  <div class="mascot lessonView col-xs-5">
    <div class="text-right">
      <img id="mascot" src="assets/images/mascotChallenge.png">
      <img class="quoteLine invisible" src="assets/images/speechLine.png" alt="">
    </div>
  </div>
  <div class="infoArea lessonView col-xs-7">
    <div class="text-center">
      <div class="section1 invisible">
        <p>Let's test your listening skills.</p>
        <p>What does this word mean?</p>
      </div>
      <div class="response-selection hidden">
        <p>You picked "{{data.responseChosen}}", is that your final answer?</p>
      </div>
      <div class="response-answer hidden">
        {{data.responseText}}
      </div>
      <div class="section2 invisible">
        <div class="col-xs-12 text-center">
         <img class="replayButton" src="assets/images/replayButton.png" ng-click="audioPlay({ file: audioFile })">
        </div>
        <ul class="multipleChoice col-xs-6">
          <li class="btn btn-success btn-lg round" ng-click="select(option1)">{{data.option1}}</li>
          <li class="btn btn-success btn-lg round" ng-click="select(option2)">{{data.option2}}</li>
        </ul>
        <ul class="multipleChoice col-xs-6">
          <li class="btn btn-success btn-lg round" ng-click="select(option3)">{{data.option3}}</li>
          <li class="btn btn-success btn-lg round" ng-click="select(option4)">{{data.option4}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
