<div class="col-xs-12 center-block">
  <div class="mainDash col-xs-9">
    <div class="row">
      <div class="col-xs-4"><a ui-sref="player.load"><img src="assets/images/introduceYourselfMission.png" alt=""></a></div>
      <div class="col-xs-4"><img src="assets/images/talkAboutPeopleMission.png" alt=""></div>
      <div class="col-xs-4"><img src="assets/images/holdAConvoMission.png" alt=""></div>
    </div>
    <div class="row">
      <div class="col-xs-4"><img src="assets/images/howYoureDoingMission.png" alt=""></div>
      <div class="col-xs-4"><img src="assets/images/goShoppingMission.png" alt=""></div>
      <div class="col-xs-4"><img src="assets/images/aboutLanguagesMission.png" alt=""></div>
    </div>
    <div class="row">
      <div class="col-xs-4"><img src="assets/images/goOutWithFriendsMission.png" alt=""></div>
      <div class="col-xs-4"><img src="assets/images/dineRestaurantMission.png" alt=""></div>
      <div class="col-xs-4"><img src="assets/images/emergenciesMission.png" alt=""></div>
    </div>
  </div>
  <div class="col-xs-1">
    <img src="assets/images/progress-panel.png" alt="">
  </div>
</div>
